extends layout

block content
  h1 CTF Flag Matcher
  p.lead CAUTION! No flags are there in this app.
  hr
  .row
    .table-responsive
      table.table
        thead
          tr
            th Title
            th Author
            th Solvers
        tbody
          each problem in problems
            tr
              td
                a(href=`/problem/${problem._id}`)= problem.title
              td= problem.author.name()
              td= problem.solvers.length
